#main{
	background-color: #eeeeee;
	border-radius: 5px;/*Ï圓角，數值越大，圓角越大*/
	margin:30px auto;/**/
}
#img{
  max-width: 100%; 
  height: auto;     
  margin: auto;    /*前三行會使圖片的寬度、高度以及邊界皆會因應不同螢幕寬度的瀏覽器做大小的調整*/
  display: block;  /*規定elements要以區塊方式呈現(占據一整行)*/
}
#img-div{
	width:100%;
	margin-top:20px;
	margin:-5px;
 	background-color:white;
 	border:5px solid #eeeeee;	
  text-align: center; /*將img-div中的內容水平對齊*/
}
#img-caption{
  margin:15px;
}
#headline{
  margin-top:50px;
  text-align:left; /*置左內部元素*/
} 
ul{
  max-width:550px;
  margin:0 auto; /*置中*/
  text-align:left; /*置左內部元素*/
}
li{
  margin: 10px;
}
blockquote{
  font-style: italic; /*字型設定*/
}
